

#calc-outline {
    background-color: palegreen;
    border-style: solid;
    border-color: peachpuff;
    border-width: 10px;
    height: 360px;
    width: 400px;
    border-radius: 10px;
    
}

.btns {
    display: flex;
    flex-wrap: wrap;
}

.operator, .tool, .operand, .equals {
    height: 50px;
    width: 100px;
}

.zero {
    height: 50px;
    width: 200px;
}

.space {
    height: 90px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.operand, .zero {
    background-color: hotpink;
}

.operator, .equals {
    background-color: plum;
}

.tool {
    background-color: coral;
}

button {
    border-color: white;
    border-radius: 10px;
    color: white;
    font-family: "Helvetica";
    font-size: 20px;
}

p {
    float: right;
    font-size: 40px;
    font-family: "Helvetica";
    margin-top: 35px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: hotpink;
}

.previous {
    font-size: 25px;
    margin-right: 10px;
}

.current {
    font-size: 35px;
    margin: 10px;
}